
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("CerrarSesion", "CuentaDeUsuario", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Bienvenido " + User.Identity.GetUserName() + "!", "GestionarPerfil", "CuentaDeUsuario", routeValues: new { area = "" }, htmlAttributes: new { title = "Gestionar Perfil" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar Sesión", "IniciarSesion", "CuentaDeUsuario", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
