body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* Genera el borde del formulario*/
.contenedor-formulario-por-defecto-punto {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
}
/*Ajusta el tamaño de los lables dentro del formulario*/
div.contenedor-formulario-por-defecto-punto label {
    font-weight: 500;
}

/* Genera el borde del formulario. Versión Pequeña*/
.contenedor-formulario-pequeño-punto {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
    max-width: 500px;
}
/*Ajusta el tamaño de los lables dentro del formulario Versión Pequeña*/
div.contenedor-formulario-pequeño-punto label {
    font-weight: 500;
}
